$color-primary: #0d6efd;
$color-white: white;
$color-light-gray: #f3f3f3;
$color-black: #282c34;
$border-color: darkgray;

$font-size-primary: 13px;
$spacing-primary: 20px;
$spacing-primary-mobile: 10px;
$side-bar-width: 160px;
$side-bar-width-mobile: 100px;
$textArea-height: 80px;

$mobile-breakpoint: 824px;
