$color-primary: navy;
$color-secondary: aliceblue;
$color-white: white;
$color-light-gray: #f3f3f3;
$color-black: #202020;
$color-gray: darkgray;

$spacing-primary: 20px;
$side-bar-width: 160px;
$textArea-height: 80px;
