@use './variables' as *;

.app {
  color: $color-primary;
  background-color: $color-light-gray;
  min-height: 100vh;
  font-size: 13px;
}

.login-page,
.home-page {
  height: 100vh;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.icon {
  background-color: transparent;
  cursor: pointer;
  color: $color-black;
  border: none;

  &:hover {
    color: $color-primary;
  }
}
