@use "./variables" as *;

.chatroom {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  height: 100%;
  padding: 0;
  margin: 0;

  &.shrink {
    margin-left: $side-bar-width;

    @media only screen and (max-width: $mobile-breakpoint) {
      margin-left: $side-bar-width-mobile;
    }
  }
}
