@import "./App.scss";

.login--page {
  height: 100vh;
}

.login--form_panel {
  width: 360px;
  height: 100%;
  border-right: 1px solid $color-gray;
  padding: $padding-primary;
}

.btn-link {
  color: $color-black;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.login--error {
  color: red;
  text-align: center;
  padding: $padding-primary;
}

.form-control {
  &:focus {
    box-shadow: none;
    border-color: transparent;
  }
}
