@use "./variables" as *;

.login-form-panel {
  width: 280px;
  color: $color-white;
}

.login-error {
  color: red;
  text-align: center;
  padding: $spacing-primary;
}

.form-control {
  border: 1px solid $border-color;

  &:focus {
    box-shadow: none;
    border-color: $border-color;
    outline: none;
  }
}

.btn-primary {
  background-color: $color-primary;

  &:hover {
  background-color: $color-primary;
  }
}

.btn-link {
  color: $color-primary;
}
