@use "./variables" as *;

.login-form-panel {
  width: 360px;
  height: 360px;
  border: 1px solid $color-gray;
  border-radius: 12px;
  padding: $spacing-primary;
  background-color: $color-secondary;
}

.login-error {
  color: red;
  text-align: center;
  padding: $spacing-primary;
}

.form-control {
  border: 1px solid $color-gray;

  &:focus {
    box-shadow: none;
    border-color: $color-gray;
    outline: none;
  }
}

.btn-primary {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary;
  }
}

.btn-link {
  color: $color-black;
}
