@use "./variables" as *;

#message-window {
  height: auto;
  overflow-y: auto;
  padding: 0 $spacing-primary;

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 0 $spacing-primary-mobile;
  }
}

.message-bubble {
  border-radius: 16px;
  margin: 8px 0;
  padding: 10px $spacing-primary;
  overflow: auto;

  &.owner {
    background-color: $color-primary;
    color: $color-white;
  }

  &.member {
    background-color: $color-white;
  }
}

.message-window-header {
  background-color: $color-light-gray;
}
