@use './variables' as *;

#message-window {
  height: calc(100% - #{$textArea-height});
  overflow-y: auto;
  padding: 0 $spacing-primary;
  border-bottom: 1px solid $border-color;
}

.message-bubble {
  border-radius: 16px;
  margin: 8px 0;
  padding: 6px 16px;
  overflow: auto;

  &.user {
    background-color: $color-primary;
    color: $color-white;
  }

  &.member {
    background-color: $color-white;
  }
}

.message-window-header {
  background-color: transparent;
}
