@use "./variables" as *;

.side-bar-panel {
  width: $side-bar-width;
  height: 100%;
  border-right: 1px solid $border-color;
  padding: $spacing-primary;
  transition: all 0.3s ease;
  visibility: visible;
  background-color: $color-black;
  color: $color-white;

  @media only screen and (max-width: $mobile-breakpoint) {
    width: $side-bar-width-mobile;
    padding: $spacing-primary-mobile;
  }
}

#side-bar-chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-bar-chat-name {
  cursor: pointer;

  &.active-chat {
    font-weight: bold;
    color: $color-primary;
  }

  &:hover {
    color: $color-primary;
  }
}

#weout-logo-sidebar {
  height: 20px;
  width: 20px;
  color: $color-primary;
}
