@use "./variables" as *;

.side-bar-panel {
  width: $side-bar-width;
  height: 100%;
  border-right: 1px solid $color-gray;
  padding: $spacing-primary;
  transition: all 0.3s ease;
  visibility: visible;
  background-color: $color-secondary;
}

#side-bar-chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-bar-chat-name {
  cursor: pointer;

  &:hover {
    color: red;
  }
}
