@use "./variables" as *;

textarea {
  height: 80px;
  resize: none;
  outline: none;
}

.send-message-icon {
  background-color: $color-white;
  color: $color-primary;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: none;
  border-top: 1px solid $border-color;

  &.disabled {
    color: $color-black;
    cursor: default;
  }
}
